.contract-button {
    background-image: url("/public/images/icon/contract.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    max-height: 36px;
    border-radius:  150px !important;
}

.p-checkbox-label{
    margin-left: 5px;
}
