.p-panelmenu-header-link {
    background-color: #424242 !important;
    border-color: #424242 !important;
    color: #b7b7b7 !important;
}

.p-panelmenu-content {
    background-color: #424242 !important;
    border-color: #424242 !important;
    color: #b7b7b7 !important;
}

.p-menuitem-link {
    color: #b7b7b7 !important;
}
